:root{
    --blanco: #ffffff;
    --negro: #212121; 
    --primario: #ffc107; 
    --secundario: #0097a7; 
    --gris: #757575; 
}
html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;

}
.contenedor{
    width: 120rem;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
    margin: 0 auto;
}
/*clases: .clase{} 
id: #id{

}*/

.titulo{
    text-align: center;
    font-size: 3.8rem;   
}
.titulo span{

font-size: 2rem;    
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    background-color: var(--secundario);

}
